<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Coffeshop</title>
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<style type="text/css">
    html,
    body {
        font-family: 'Open Sans';
    }

    img {
        padding: 5px;
        border: 1px solid #ccc;
    }
</style>

<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                                alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="menu.html">Menu</a></li>
                                    <li><a href="order.html">Order</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <section class="hero">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                        Menu
                    </h1>
                    <h2 class="subtitle">
                        Coffe available
                    </h2>
                </div>
            </div>
        </section>

        <section class="container ">
            <div class="columns features is-multiline">
                <div class="column">
                    <div class="card" style="width:200px">
                        <div class="card-content">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="https://thehousecafe.org/wp-content/uploads/2018/01/SmallLogov2.png"
                                        alt="Placeholder image" class="modal-button" data-target="modal-image2">
                                </figure>
                                <br>
                                <p class="title is-5"> Capuccino </p>
                                <p class="subtitle is-6"> Rp. 35K </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <button class="button is-primary is-fullwidth"> Add </button>
                        </footer>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <script src="../js/bulma.js"></script>
</body>

</html>